/*global*/


body {
    width:1400px;
margin: 0 auto;
background: black;
}
*, *::before,*::after {
    box-sizing: border-box;
}

/*header*/

.header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    
    
    position: relative;
    .content {
        display:inline-block;
        z-index: 2;
        position: relative;
        padding: 20%;
    text-align: center;
    font-size: 35px;
    }
}

.photo {
    width: 100%;
    
   
    
    position: absolute;
    img {
        width: 100%;
        height:auto;
        object-fit: cover;
      
    }
}
.menu {
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 580px;
}
ul {
    width: 100%;
    list-style: none;    
    li {
        color: black;
        display: inline-block;
        margin: 0 10px ; 
        a {
            font-size: 18px;
            color: black;
            text-decoration: none;
            font-weight: bold;
        }
    }
}
.golden {
    position: absolute;
    top: 20px;
    left: 180px;
    font-size: 20px;
    font-weight: bold;
    color: gold;
    text-shadow: 5px 5px black;
}
