/*global*/
$font1: 'Marck Script', cursive;
*, *::before, *::after {
    box-sizing: border-box;
}
body {
   font-size: 10px;
    margin: 0;
   padding: 0;
}

/*header*/

.header {
    margin:0 auto;
    height: 76vh;
    position: relative;
    height: 76vh;
    .photo {
        background-color: black;
        opacity: 1;
    }
    
    img{
        width: 100%;
        height: 76vh;
        object-fit: cover;
        opacity:0.5;      
    }
}
.golden {
    font-family: $font1;
    display: inline-block;
    font-size: 1.9vw;
    position: absolute;
    width: 50vw;
    height: 5vh;
    top: 4.5vh;
    left: 17vw;
    color: gold;
    text-shadow: 3px 3px 3px white;
}
nav {
    display: inline-block;
    position: absolute;
    width: 50vw;
    height: 5vh;
    top:4vh;
    left: 45vw;
 

    ul {
        list-style-type: none;
        li {
            display: inline-block;
            margin-right: 36px;
            position: relative;
            a {
                font-size: 1.6vw;
                text-decoration: none;
                color: white;
            }
        }
    }
}

.button-text {
    display: inline-block;
    position: absolute;
    width: 60vw;
    height: 5vh;
    top:26vh;
    left: 20vw;
    text-align: center;
    font-size: 2.2vw;
    color: white;
}
span{
    font-size: 4.8vw;
    font-weight:bold;
    }

button {
    margin-top: 3vw;
    width: 17vw;
    height: 4.5vw;
    background: gold;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 1.2vw;
    border: none;
}

/* SERVICES*/

.services {
    text-align: center;
    margin-top: 13vh;
    h4 {
        font-size: 3vw;
        margin-bottom:0;        
    }
    span {
        font-size: 1vw;
        font-weight:normal; 
       }
    }